In [3]:
import pandas as pd
import numpy as np

import json

In [6]:
with open('data/source_file_2.json') as f:
    data = json.load(f)

In [10]:
data = pd.DataFrame(data)

In [113]:
data.head()

,managers,name,priority,watchers
2,[luanda],Annotations,10,"[csaftoiu, merlin, victor]"
21,[merlin],[EXECUTIVE] Merlin,20,"[csaftoiu, jpfarias, merlin, morris]"
45,[morris],sportsparsers - 22bet,45,"[csaftoiu, merlin]"
44,[morris],sportsparsers - esportscalendar,55,"[csaftoiu, merlin]"
33,[victor],morris bg data gathering,130,"[csaftoiu, morris]"

In [12]:
data = data.sort_values(by=['priority'])

In [100]:
data.tail()

,managers,name,priority,watchers
30,[merlin],[ID-VERIFY-PIPELINE] Passport finder,2400,"[csaftoiu, jpfarias, morris]"
31,[merlin],[CHATBOT] rodrigo,2405,"[csaftoiu, jpfarias, morris]"
32,"[ariel, merlin]",[BG-CLUB-SITE] frontend,2435,"[csaftoiu, jpfarias, morris]"
35,[merlin],[INHOUSE-TOOLS] NN-Webapp 2,2520,"[csaftoiu, jpfarias, merlin, morris]"
38,"[csaftoiu, morris]",matchbook parser - mfilho,2575,"[jpfarias, merlin]"

In [86]:
data['managers'] = data['managers'].values.tolist()

In [88]:
type(data['managers'])

pandas.core.series.Series

In [112]:
new_dataframe = pd.DataFrame()
index =0 
for i, row in data.iterrows():
    #print(index, " + ", row['managers'], ' = ' , len(row['managers']))
    for x in row['managers']:
        for y in row['watchers']:
            new_dataframe.loc[index, 'managers'] = x
            new_dataframe.loc[index, 'name'] = row['name']
            new_dataframe.loc[index, 'priority'] = row['priority']        
            new_dataframe.loc[index, 'watchers'] = y
            index += 1

In [110]:
new_dataframe.tail()

     managers                         name  priority  watchers
117    merlin  [INHOUSE-TOOLS] NN-Webapp 2    2520.0    morris
118  csaftoiu    matchbook parser - mfilho    2575.0  jpfarias
119  csaftoiu    matchbook parser - mfilho    2575.0    merlin
120    morris    matchbook parser - mfilho    2575.0  jpfarias
121    morris    matchbook parser - mfilho    2575.0    merlin

In [111]:
new_dataframe.shape

(122, 4)

In [65]:
type(lista_managers)

list

In [59]:
data['managers'] = data['managers'].to_list()

In [47]:
data['watchers'] = tuple(data['watchers'])

In [50]:
type(data['watchers'].array)

pandas.core.arrays.numpy_.PandasArray

In [60]:
type(data['watchers'])

pandas.core.series.Series

In [61]:
data['watchers'].unique()

TypeError: unhashable type: 'list'