In [1]:
import pandas as pd
import numpy as np

import json

In [2]:
with open('data/source_file_2.json') as f:
    data = json.load(f)

In [3]:
data = pd.DataFrame(data)

In [4]:
data.head()

,managers,name,priority,watchers
0,"[csaftoiu, merlin]",[CV] [Qt] OpenCV GUI,850,"[merlin, morris]"
1,[merlin],[Web] pm-site,260,"[csaftoiu, jpfarias, morris]"
2,[luanda],Annotations,10,"[csaftoiu, merlin, victor]"
3,[csaftoiu],[OCR] tesseract MRZ reading,560,"[arturc, merlin]"
4,[morris],Deepgammon,150,"[merlin, victor]"

In [5]:
data = data.sort_values(by=['priority'])

In [6]:
data.tail()

,managers,name,priority,watchers
30,[merlin],[ID-VERIFY-PIPELINE] Passport finder,2400,"[csaftoiu, jpfarias, morris]"
31,[merlin],[CHATBOT] rodrigo,2405,"[csaftoiu, jpfarias, morris]"
32,"[ariel, merlin]",[BG-CLUB-SITE] frontend,2435,"[csaftoiu, jpfarias, morris]"
35,[merlin],[INHOUSE-TOOLS] NN-Webapp 2,2520,"[csaftoiu, jpfarias, merlin, morris]"
38,"[csaftoiu, morris]",matchbook parser - mfilho,2575,"[jpfarias, merlin]"

In [7]:
new_dataframe = pd.DataFrame()
index =0 
for i, row in data.iterrows():
    for x in row['managers']:
        for y in row['watchers']:
            new_dataframe.loc[index, 'managers'] = x
            new_dataframe.loc[index, 'name'] = row['name']
            new_dataframe.loc[index, 'priority'] = row['priority']        
            new_dataframe.loc[index, 'watchers'] = y
            index += 1

In [8]:
new_dataframe.tail()

     managers                         name  priority  watchers
117    merlin  [INHOUSE-TOOLS] NN-Webapp 2    2520.0    morris
118  csaftoiu    matchbook parser - mfilho    2575.0  jpfarias
119  csaftoiu    matchbook parser - mfilho    2575.0    merlin
120    morris    matchbook parser - mfilho    2575.0  jpfarias
121    morris    matchbook parser - mfilho    2575.0    merlin

# Managers

In [9]:
managers = pd.DataFrame()

In [10]:
managers['managers'] = new_dataframe['managers'].unique()

In [11]:
for index, x in enumerate (managers['managers']):
    #print(index, ' = ', x)
    teste = new_dataframe[(new_dataframe['managers'] == x)][['name', 'priority']]
    managers.loc[index, 'name'] = teste['name'].unique()

In [34]:
out = managers.to_json(orient='values')[1:-1].replace('},{', '} {')

In [35]:
with open('managers.json', 'w') as f:
    f.write(out)

In [25]:
managers.head()

   managers                                               name
0    luanda                                        Annotations
1    merlin  [[EXECUTIVE] Merlin, [Web] pm-site, [ID-VERIFY...
2    morris  [sportsparsers - 22bet, sportsparsers - esport...
3    victor                         [morris bg data gathering]
4  csaftoiu  [sportsparsers - pinnacle API, [OCR] tesseract...

# Watchers

In [14]:
watchers = pd.DataFrame()

In [15]:
watchers['watchers'] = new_dataframe['watchers'].unique()

In [18]:
for index, x in enumerate (watchers['watchers']):
    #print(index, ' = ', x)
    aux_watchers = new_dataframe[(new_dataframe['watchers'] == x)][['name', 'priority']]
    watchers.loc[index, 'name'] = aux_watchers['name'].unique()

In [19]:
watchers.to_json(r'watchers.json')

In [31]:
out = watchers.to_json(orient='values')[1:-1].replace('},{', '} {')

In [32]:
with open('watchers.json', 'w') as f:
    f.write(out)

In [33]:
watchers.head()

   watchers                                               name
0  csaftoiu  [Annotations, [EXECUTIVE] Merlin, sportsparser...
1    merlin  [Annotations, [EXECUTIVE] Merlin, sportsparser...
2    victor                          [Annotations, Deepgammon]
3  jpfarias  [[EXECUTIVE] Merlin, [Web] pm-site, [ID-VERIFY...
4    morris  [[EXECUTIVE] Merlin, morris bg data gathering,...